body {
  font-family: FreeMono, monospace; }
  body .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .container .product_list {
      width: 80%;
      margin: 30px auto; }
      body .container .product_list hr {
        border-top: 2px solid #e38a8a; }
      body .container .product_list .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        body .container .product_list .header input[type=submit], body .container .product_list .header input[type=button] {
          width: 8rem;
          height: 2rem;
          border: 1px solid #e38a8a;
          border-radius: 5px;
          background-color: #f3c2bd; }
        body .container .product_list .header input[type=submit]:hover, body .container .product_list .header input[type=button]:hover {
          cursor: pointer;
          background-color: #f4eeef; }
      body .container .product_list .product_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; }
        body .container .product_list .product_container .product_box {
          margin: 10px;
          width: 14rem;
          height: 8rem;
          padding: 10px;
          border: 1px solid #e38a8a;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          position: relative;
          background-color: #f4eeef; }
          body .container .product_list .product_container .product_box .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0; }
            body .container .product_list .product_container .product_box .item p {
              margin: 2px auto; }
          body .container .product_list .product_container .product_box .delete-checkbox {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 5px;
            left: 5px;
            accent-color: #e38a8a; }
          body .container .product_list .product_container .product_box .delete-checkbox:hover {
            cursor: pointer; }
          body .container .product_list .product_container .product_box .delete-checkbox:checked {
            background-color: #e38a8a; }
    body .container footer {
      width: 100%;
      position: fixed;
      bottom: 30px; }
      body .container footer .footer_container {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .container footer .footer_container hr {
          width: 100%;
          border-top: 2px solid #e38a8a; }
        body .container footer .footer_container p {
          display: inline-block;
          margin: 0 auto; }

/*# sourceMappingURL=productList.css.map */
